body{
    margin:0;
}

button{
    border: none;
    background: $accent;
    color: #fff;
    border-radius: 32px;
    height: 32px;
    padding: 0 16px;
    font-size: 0.8rem;
    font-weight:bold;
}
